*{
    border: 0;
    padding: 0;
    position: static;
}

.school-list-page{
    background: url("../../assets/images/631.jpg" );
    /* background-origin: content-box; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: left;
   
    
    height: 2000px;
   
    position:static;
}


.Header{
  font-size: x-large;
    background:rgb(243, 180, 6) ;
    height: 80px;
    width: 100%;
    justify-content: center;
    display: block;
    align-items: center;    
    
}

.Header h3{
    margin: 1% 46%;
}

.Header h4{
    margin: 1% 47.5%;
}

.btn{
    align-items: center;
    justify-content: center;
    /* position: relative;
    top:2%;
    left: -8%; */
    box-shadow: white;
}

.btn button{
    font-size: large;
    height: 60px;
    width: 793px;
    margin: 14px 343px;
    background-color: rgb(230, 230, 230);
    border: 1px solid black;
    border-radius: 20px;
    display: list-item;
    z-index: -1;
    list-style-type: none;
    box-shadow: 1px 1px 9px rgba(0,0,0,1);
    
   
}




.btn li a{
    text-decoration: none;
    color: black;
}

.btn button:hover{
    background-color: rgb(250, 243, 243);
    
    opacity: 0.9;
    transform: scale(1.15);
    
}

.btn li{
    list-style-type: none;
    padding:7px;
}