    <div class="about-body">
    <div class="container">
        <h1 class="heading">OUR TEAM</h1>
        <div class="profiles">
            <div class="pro">
                <div class="a">
                <h3 class="username">AARYA KURLEKAR</h3>
                <h5>LEADER(23)</h5><br>
                <li>FRONT END</li>
                <li>DATA COLLECTION</li>
            </div>
            </div>
            <div class="pro">
                <div class="k">
                <h3 class="username">KALYANI LADDHA </h3>
                <h5>ASSISTANT LEADER(26)</h5><br>
                <li>FRONT END</li>
                <li>DATA COLLECTION</li>
            </div>
            </div>
            <div class="pro">
                <div class="b">
                <h3 class="username">BADAL KUSHWAHA</h3>
                <h5>MEMBER(24)</h5><br>
                <li>FRONT END</li>
                <li>BACK END</li>
            </div>
            </div>
            <div class="pro">
                <div class="l">
                <h3 class="username">LAKSHYA AGRAWAL </h3>
                <h5>MEMBER(27)</h5><br>
                <li>FRONT END</li>
                <li>DATA COLLECTION</li>
                </div>  
            </div>
            <div class="pro">
                <div class="l">
                <h3 class="username">SURAJ LABADE </h3>
                <h5>MEMBER(27)</h5><br>
                <li>DATA COLLECTION</li>
                
                </div>  
            </div>
            
            

        </div>
    </div>
</div>
